<div class="container-fluid mt-5 about-style" id="serviceid">
       <div class="row">
         <div class="col-md-10 col-12 mx-auto">
           <h1 class="text-center main-heading">Our Services</h1>
           <p class="text-center sub-heading">grow your buissness with  Us</h1>
           <div class="row">
                  <div class="col-md-4">
                      <div class="box">
                          <div class="our-services settings">
                              <div class="icon">
                                  <img src="https://i.imgur.com/6NKPrhO.png" alt="Plese connect to internet">
                              </div>
                              <h4>Setttings</h4>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum  laboriosam exceptu</p>
                            </div>
                          </div>
                      </div>
                  <div class="col-md-4">
                      <div class="box">
                          <div class="our-services speedup">
                              <div class="icon">
                                  <img src="https://i.imgur.com/6NKPrhO.png" alt="Plese connect to internet">
                              </div>
                              <h4>Speed Up</h4>
                              <p>At Our Servers We Installed Really Fast Drives So We Can Proudly say that We Are The FASTEST In Industry</p>
                            </div>
                          </div>
                      </div>
                  <div class="col-md-4">
                      <div class="box">
                          <div class="our-services privacy">
                              <div class="icon">
                                  <img src="https://i.imgur.com/AgyneKA.png" alt="Plese connect to internet">
                              </div>
                              <h4>Privacy</h4>
                              <p>We Do Not Sell Data To Any Third Party. We Ensure Customer Privacy</p>
                            </div>
                          </div>
                      </div>
                <div class="col-md-4">
                      <div class="box">
                          <div class="our-services backups">
                              <div class="icon">
                                  <img src="https://i.imgur.com/vdH9LKi.png" alt="Plese connect to internet">
                              </div>
                              <h4>Backups</h4>
                              <p>We Ensure Keeping Our Customer Data Safe. We keep Backup of Every Data at 3 Different Servers.</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                      <div class="box">
                          <div class="our-services ssl">
                              <div class="icon">
                                  <img src="https://i.imgur.com/v6OnUqu.png" alt="Plese connect to internet">
                              </div>
                              <h4>SSL Secured</h4>
                              <p>Our Database Are One Of The Safest In Industry We Provide End To End Encryption</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                      <div class="box">
                          <div class="our-services database">
                              <div class="icon">
                                  <img src="https://i.imgur.com/VzjZw9M.png" alt="Plese connect to internet">
                              </div>
                              <h4>Database</h4>
                              <p>We Provide Service To Host Your Website On Our Database Also We Provide Initial 15Gb Storage </p>
                            </div>
                          </div>
                      </div>  
              </div>
              </p>
              </div>
       </div>
</div>
